@import "bourbon/_bourbon";
@import "partials/_bootstrap";
@import "partials/_variables";
@import "partials/_theme_variables";
@import "partials/_mixins";


#myTab {
	margin-left: 120px;
}
.tree-megamenu {
	width: 350px;
	float: left;
	overflow: hidden;
	margin-right: 40px;
}
td {
	>i {
		display: block;
		font-size: 11px;
	}
}
// #content {
// 	.ui-widget-header {
// 		background: none;
// 		border-bottom: solid 1px #ECECEC;
// 		font-weight: bold;
// 		a {
// 			font-weight: bold;
// 		}
// 	}
// 	.ui-widget-content {
// 		border: none;
// 	}
// }
.megamenu-form {
	input {
		padding: 5px 6px;
		min-width: 100px;
	}
	select {
		padding: 5px 6px;
		min-width: 100px;
	}
	float: left;
	width: 700px;
	label {
		width: 100px !important;
	}
	.margin-form {
		padding: 0 0 1em 110px !important;
	}
}
.quickdel {
	float: right;
	display: block;
	cursor: hand;
	cursor: pointer;
	overflow: hidden;
	margin: 0px 8px;
	color: #a92818;
	&:before{
		content: "\f014";
		font-family: $font-icon;
	}
}
.quickedit {
	float: right;
	display: block;
	cursor: hand;
	cursor: pointer;
	overflow: hidden;
	margin: 0px 8px;
	color: #18798d;
	&:before{
		content: "\f040";
		font-family: $font-icon;
	}
}
.quickselect {
	vertical-align: middle;
	overflow: hidden;
	margin: 0px 0px !important;
}
table.table {
	width: 99%;
	tr {
		td {
			border-bottom: dotted 1px #CCC;
		}
	}
}
.hide {
	display: none;
}
.show {
	display: block;
}
#ajaxloading {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1200;
	>div {
		margin: 12px;
	}
}
.placeholder {
	outline: 1px dashed #4183C4;
}
.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: $nocolor;
}
ol {
	margin: 0;
	padding: 0;
	padding-left: 30px;
}
ol.sortable {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
	margin: 2em 0;
	ol {
		margin: 0 0 0 25px;
		padding: 0;
		list-style-type: none;
	}
}
.sortable {
	li {
		margin: 5px 0 0 0;
		padding: 0;
		div {
			border: 1px solid #d4d4d4;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border-color: #D4D4D4 #D4D4D4 #BCBCBC;
			padding: 6px;
			margin: 0;
			cursor: move;
			background: #f6f6f6;
			background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		}
	}
	li.mjs-nestedSortable-branch {
		div {
			background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
			background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);
		}
		>div {
			>.disclose {
				display: inline-block;
			}
		}
	}
	li.mjs-nestedSortable-leaf {
		div {
			background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
			background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);
		}
	}
	li.mjs-nestedSortable-collapsed {
		>ol {
			display: none;
		}
		>div {
			>.disclose {
				>span {
					&:before {
						content: '+ ';
					}
				}
			}
		}
	}
	li.mjs-nestedSortable-expanded {
		>div {
			>.disclose {
				>span {
					&:before {
						content: '- ';
					}
				}
			}
		}
	}
}
li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering {
	div {
		border-color: #999999;
		background: #fafafa;
	}
}
li.selected {
	>div {
		border: solid 1px #D9534F;
	}
}
.disclose {
	cursor: pointer;
	width: 10px;
	display: none;
}
.leo_load {
	background: url("../../img/admin/loading.gif") no-repeat scroll 0 0 transparent;
	display: none;
	height: 32px;
	width: 32px;
}
.table.table-green {
	tr {
		th {
			background: #f3f3f3;
			padding: 12px 6px;
		}
		td {
			padding: 9px 6px;
		}
	}
}
.pull-right {
	float: right;
}
.deoblog-comment-link-icon {
	font-size: 28px;
}
.icon-AdminLeoblogManagement {
	&:before {
		content: "\f040";
		font-family: $font-icon;
	}
}
#blog-general {
	.panel-tab{
		border: 1px solid #d3d8db;
    	border-bottom: none;
    	overflow: hidden;
    	border-radius: 5px 5px 0px 0px;
    	.nav.nav-tabs li.active a{
    		margin: 0px -1px -1px -1px;
    	}
	}
	.panel-content{
		.panel{
			border-top: none !important;
			border-radius: 0px 0px 5px 5px !important;
		}
	}
	.admin-tabs.tab-config-admin{
		margin: -1px 0px 0px 0px;
    	background: $white;
	}
}
#blog-list{
	.admin-tabs.tab-config-admin{
		margin: -21px -21px 20px;
	}
}
.nav-tabs {
	a {
		&:focus {
			outline: none;
		}
	}
}
.leoblog-globalconfig {
	a {
		&:focus {
			border-top: 3px solid #25b9d7 !important;
			border-bottom: none !important;
		}
		&:hover {
			border-top: 3px solid #25b9d7 !important;
			border-bottom: none !important;
		}
	}
	li.active {
		a {
			border-top: 3px solid #25b9d7 !important;
			border-bottom: none !important;
		}
	}
}

.form-temp-table{
	.col-lg-9.col-lg-offset-3{
		width: 100%;
		margin-left: 0px !important;
	}
}
.temp-table{
	text-align: center;
	thead{
		tr{
			td{
				border-bottom: 2px solid #25b9d7;
				&:last-child{
					text-align: right;
				}
			}
		}
	}
	tbody{
		tr{
			td{
				&.rate{
					&:after{
						content: '%'
					}
				}
				&.width,&.height{
					&:after{
						content: 'px'
					}
				}
				&.category,&.blog,&.blog_thumb,
				&.show_introduce_category,&.show_image,&.show_title,&.show_description,&.show_author,&.show_category,&.show_created_date,&.show_viewed,&.show_comment,&.show_read_more{
					&:before{
						color: #e08f95;
						content: "\F00D";
						font-family: $font-icon;
					}
					&.checked{
						&:before{
							content: "\F00C";
							color: #72c279;
						}
					}			
				}
				&.configures-inner{
					padding-top: 0px;
					padding-bottom: 0px;
				}
			}
			&.active{
				td{
					background-color: #f4f8fb;
				}
			}
			&.empty-row{
				text-align: center;
				td{
					height: 100px;
				}
			}
		}
	}
	.table-inner{
		width: 100%;
		tbody {
			& > tr{
				& > td{
					background: transparent;
					&.title-name{
						text-align: left;
						font-style: italic;
					}
					&.title-value{
						text-align: right;
					}
				}
				&:last-child{
					& > td{
						border-bottom: none;
					}
				}
			}
		}
	}
	.block-loading{
		display: none;
		.icon-loading{
			&:before{
				content: "\F110";
				display: inline-block;
				font-family: $font-icon;
				@include animation(cssload-spin 1s infinite steps(8));
			}
		}
	}
	&.loading{
		.block-empty{
			display: none;
		}
		.block-loading{
			display: block;
		}
	}
	&.not-emtpy{
		tbody{
			tr{
				&.empty-row{
					display: none;
					.block-empty{
						display: block;
					}
				}
			}
		}
	}
	.actions{
		a{
			margin: 0px 5px;
		}
	}
}